:root {
  --primary: #f779b0;
  --secondary: #2a1a5e;
  --text-drop-shadow: 1px 1px var(--secondary);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 18pt;
}

main {
  flex-grow: 1;
  max-width: 70vw;
  align-self: center;
}

header,
footer {
  min-height: 10vh;
}

header {
  text-align: center;
}

h1 {
  color: var(--primary);
}

header h1 {
  border-bottom: double;
  display: inline;
  text-shadow: var(--text-drop-shadow);
}

header ul li {
  display: inline;
}

main h1 {
  margin: 0;
}

#skills ul {
  column-count: 2;
}

.job p,
.education p {
  margin: 0;
}

.job ul {
  margin: 0.5em 0;
}

.job p:first-child,
.education p:first-child {
  margin-top: 1em;
}

/* NOTE Media Query to set properties on screen smaller than 600px wide */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16pt;
  }
  main {
    max-width: unset;
  }
}

.action:hover {
  color: var(--secondary);
  cursor: pointer;
}

text-primary {
  color: var(--primary);
}

mt-1 {
  margin-top: 1em;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 1em;
}
